@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Kaushan+Script&family=Satisfy&display=swap');
body{
    background-color: rgb(243, 237, 230);
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }

.courseheading{
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 2px solid black; */
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    background-color: rgb(164, 240, 216);
}
.courses{
        display: flex;
        justify-content: center;
        grid-template-columns: repeat(4, auto);
        grid-gap: 20px;
        flex-wrap: wrap;
}
.card {
    margin: 0;
}
.quote{
    font-family: 'Cardo', serif;
    text-align: center;
}